DEMO_ROOM_SECRET=
OPENAI_API_KEY=
VAPI_PUBLIC_KEY=
VAPI_DEMO_ASSISTANT_ID=
LUMENOSIS_TURSO_DATABASE_URL=
LUMENOSIS_TURSO_AUTH_TOKEN=
DEMO_DATA_SOURCE=
DEMO_READ_DATABASE_URL=
DEMO_WRITE_DATABASE_URL=
LUMENOSIS_ADMIN_PASSWORD=
LUMENOSIS_PLATFORM_API_SECRET=
TAVILY_API_KEY=
AGENTMAIL_API_KEY=
FILLOUT_API_KEY=
GHL_LOCATION_PIT=
GHL_CALENDAR_ID=
NEXT_PUBLIC_FILLOUT_FORM_ID=
NEXT_PUBLIC_GHL_CALENDAR_EMBED_URL=
GHL_LOCATION_ID=
MAUTIC_BASE_URL=
MAUTIC_USERNAME=
MAUTIC_PASSWORD=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
